{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %} {{user.user_profile.fullname}} (@{{ user.username }}) {%endblock%}
{% block css_block %}
<style>
  .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .crop img {
    width: 200px;
    height: 200px;
    margin: -75px 0 0 -100px;
  }
</style>
{% endblock%}
{% block body_block %}
<div class="row">
  <div class="col-sm-4">
      {% if user.user_profile.profile_pic %}
        <img src="/media/{{ user.user_profile.profile_pic }}" width="250px" height="250px" class="rounded-circle">
      {% else %}
         <img src="/media/arif.png" width="250px" height="250px" class="rounded-circle">
      {% endif %}
  </div>

  <div class="col-sm-8">

      <h1>{{ user.username }} &nbsp;<a href="{% url 'App_Login:Edit_Profile' %}" class="btn btn-sm btn-light">Edit_Profile</a>
     </h1>&nbsp;

    <br>
    <h4>{{ user.post_author.count }} posts &nbsp; &nbsp; {{ user.following.count }} followers &nbsp; &nbsp; {{ user.follower.count }} following</h4>
    <br>
    <h3>{{ user.user_profile.fullname }}</h3>
  </div>
</div>
<hr>
<br>
<br>
    <div class="row">
    {% for post in user.post_author.all %}
    <div class="col-sm-3">
        <img src="/media/{{ post.image }}" alt="" width="400px">
    </div>
    {% endfor %}
    </div>

{% endblock %}
